body {
  font-family: 'Poppins', sans-serif;
  background: #fff5f8;
  color: #333;
  padding: 20px;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff4081;
  margin-bottom: 30px;
}

.game{
  background-color: #ff4081;
}